*
  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  body {
  background-color: rgb(225, 184, 184);
}

main {
  height: 100vh;
}

.nav-bar {
  display: flex;
  justify-content: center;
  color: #000;
  font-size: 30px;
  font-weight: bold;
}

 .nav-bar li 
 {
  list-style: none;
  padding: 50px;
 }

 .movies-list {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto;
  row-gap: 30px;
  column-gap: 100px;
  justify-content: center;
 }

 .title-like {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  margin-top: 5px;
 }

 #heart {
  padding-left: 15%;
  cursor: pointer;
 }

 .likes {
  font-size: 22px;
 }
 
 #comment-btn {
  font-size: 20px;
  padding: 4px;
  border: 2px solid black;
  margin-top: 8px;
  cursor: pointer;
 }

 .footer-section {
  font-size: 35px;
  height: 110px;
  margin-top: 5%;
  border-top: 2px solid black;
  text-align: center;
  padding-top: 30px;
 }